# OASIS INFOBYTE INTERNSHIP

## CODER :- RAHUL PRASAD

## TASK 5 :- SALES PREDICTION USING PYTHON

### IMPORTING LIBRARIES

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### LOADING DATASET

In [2]:
df = pd.read_csv('Advertising.csv')
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

### DATA PREPROCESSING

In [4]:
df.shape

(200, 5)

In [8]:
df1 = df.drop(['Unnamed: 0'],axis = 'columns')
df1.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [9]:
df1.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [10]:
df1.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

### SEPARATING DATA LABELS FOR TRAIN TEST SPLIT

In [12]:
x = df1.drop(['Sales'], axis = 'columns')
x.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [16]:
y = df1['Sales']
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: Sales, dtype: float64

### TRAIN TEST SPLIT

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [18]:
x_train

        TV  Radio  Newspaper
78     5.4   29.9        9.4
167  206.8    5.2       19.4
140   73.4   17.0       12.9
51   100.4    9.6        3.6
120  141.3   26.8       46.2
..     ...    ...        ...
16    67.8   36.6      114.0
199  232.1    8.6        8.7
149   44.7   25.8       20.6
104  238.2   34.3        5.3
35   290.7    4.1        8.5

[160 rows x 3 columns]

In [19]:
len(x_train)

160

In [28]:
x_test.head()

        TV  Radio  Newspaper
23   228.3   16.9       26.2
184  253.8   21.3       30.0
195   38.2    3.7       13.8
84   213.5   43.0       33.8
36   266.9   43.8        5.0

In [29]:
len(x_test)

40

### MODEL BUILDING

In [33]:
from sklearn.linear_model import LinearRegression

In [34]:
model = LinearRegression()

In [35]:
model.fit(x_train,y_train)

LinearRegression()

In [36]:
model.score(x_test,y_test)

0.8604554345350494

In [37]:
model.predict(x_test)

array([16.53878087, 18.54915985,  5.31816332, 20.94972126, 23.70215855,
       20.79602959,  6.02579223, 17.05665434,  9.56798488, 15.01812672,
        8.55237079, 11.72500265,  6.95124471, 14.4927237 , 20.49864792,
        5.64333426, 17.43008236, 17.60158595, 11.84017378,  6.98712816,
       10.6841977 , 10.01270592, 21.77679084, 15.50550562,  7.38548537,
       16.49315493, 15.60089446,  8.46040274,  8.14510734, 12.99668648,
       14.95317041,  4.37951629, 10.54561729,  7.67287993, 18.70767913,
       20.94380913, 14.59959658, 23.43086352, 18.99145288, 11.00909235])