# OASIS INFOBYTE INTERNSHIP

## CODER :- RAHUL PRASAD

## TASK 3:- CAR PRICE PREDICTION WITH MACHINE LEARNING

### IMPORTING LIBRARIES

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### LOADING THE DATASET

In [3]:
df = pd.read_csv('CarPrice.csv')
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

### DATA PREPROCESSING

In [4]:
df.shape

(205, 26)

In [5]:
df.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [9]:
df1 = df.drop(['car_ID','symboling','aspiration','doornumber','enginelocation','curbweight','boreratio','compressionratio'],axis = 'columns')
df1.head()

,CarName,fueltype,carbody,drivewheel,wheelbase,carlength,carwidth,carheight,enginetype,cylindernumber,enginesize,fuelsystem,stroke,horsepower,peakrpm,citympg,highwaympg,price
0,alfa-romero giulia,gas,convertible,rwd,88.6,168.8,64.1,48.8,dohc,four,130,mpfi,2.68,111,5000,21,27,13495.0
1,alfa-romero stelvio,gas,convertible,rwd,88.6,168.8,64.1,48.8,dohc,four,130,mpfi,2.68,111,5000,21,27,16500.0
2,alfa-romero Quadrifoglio,gas,hatchback,rwd,94.5,171.2,65.5,52.4,ohcv,six,152,mpfi,3.47,154,5000,19,26,16500.0
3,audi 100 ls,gas,sedan,fwd,99.8,176.6,66.2,54.3,ohc,four,109,mpfi,3.40,102,5500,24,30,13950.0
4,audi 100ls,gas,sedan,4wd,99.4,176.6,66.4,54.3,ohc,five,136,mpfi,3.40,115,5500,18,22,17450.0

In [10]:
df1.shape

(205, 18)

### LABEL ENCODER

In [11]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [12]:
df1['CarName'] = le.fit_transform(df1['CarName'])
df1['fueltype'] = le.fit_transform(df1['fueltype'])
df1['carbody'] = le.fit_transform(df1['carbody'])
df1['drivewheel'] = le.fit_transform(df1['drivewheel'])
df1['drivewheel'] = le.fit_transform(df1['drivewheel'])
df1['enginetype'] = le.fit_transform(df1['enginetype'])
df1['cylindernumber'] = le.fit_transform(df1['cylindernumber'])
df1['fuelsystem'] = le.fit_transform(df1['fuelsystem'])

In [13]:
df1

,CarName,fueltype,carbody,drivewheel,wheelbase,carlength,carwidth,carheight,enginetype,cylindernumber,enginesize,fuelsystem,stroke,horsepower,peakrpm,citympg,highwaympg,price
0,2,1,0,2,88.6,168.8,64.1,48.8,0,2,130,5,2.68,111,5000,21,27,13495.0
1,3,1,0,2,88.6,168.8,64.1,48.8,0,2,130,5,2.68,111,5000,21,27,16500.0
2,1,1,2,2,94.5,171.2,65.5,52.4,5,3,152,5,3.47,154,5000,19,26,16500.0
3,4,1,3,1,99.8,176.6,66.2,54.3,3,2,109,5,3.40,102,5500,24,30,13950.0
4,5,1,3,0,99.4,176.6,66.4,54.3,3,1,136,5,3.40,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,139,1,3,2,109.1,188.8,68.9,55.5,3,2,141,5,3.15,114,5400,23,28,16845.0
201,138,1,3,2,109.1,188.8,68.8,55.5,3,2,141,5,3.15,160,5300,19,25,19045.0
202,140,1,3,2,109.1,188.8,68.9,55.5,5,3,173,5,2.87,134,5500,18,23,21485.0
203,142,0,3,2,109.1,188.8,68.9,55.5,3,3,145,3,3.40,106,4800,26,27,22470.0
204,143,1,3,2,109.1,188.8,68.9,55.5,3,2,141,5,3.15,114,5400,19,25,22625.0

### SEPARATING DATA LABELS FOR TRAIN TEST SPLIT

In [16]:
x = df1.drop('price',axis = 'columns')
y = df1['price']

### TRAIN TEST SPLIT

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.25)

In [18]:
len(x_train)

153

In [19]:
len(y_test)

52

### MODEL BUILDING

In [22]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [23]:
model.fit(x_train,y_train)

LinearRegression()

In [24]:
model.score(x_test,y_test)

0.7871107184669076

In [25]:
model.predict(x_test)

array([ 4335.35518526,  9769.02772048, 10626.86399653, 21237.2798709 ,
        6772.53522108,  5298.24435637, 18070.46614407, 14968.8265966 ,
        4787.59675581, 11976.39895295,  6191.51951687, 16835.20601677,
        9482.5324391 , 17025.38794967,  6589.50323198,  4721.99080334,
       11146.24505066, 16420.83421604,  7390.08361681, 16689.98382475,
       13379.74738976,  9007.55982258,  6604.19492524,  8644.29020599,
        7547.40313461, 12094.81588217,  8016.0325312 ,  5496.4121294 ,
        8533.97353674, 11473.20269943, 15464.73621006,  9244.76212429,
        6447.60564442, 18759.23108662, 16332.63524119, 14601.29001745,
        9104.0386447 ,  8264.9466786 , 15989.83903417,  7902.11526242,
        6954.01030813, 21551.80600017,  7195.74046298, 15184.49219635,
        9801.74317059,  9280.13411161,  9946.73862321, 16141.42095176,
        6816.92126115, 14907.41553769, 26057.78077547, 34361.35198763])