# OASIS INFOBYTE INTERNSHIP

## CODER :- RAHUL PRASAD

## TASK 4 :- EMAIL SPAM DETECTION WITH MACHINE LEARNING

### IMPORTING LIBRARIES AND LOADING DATASET

In [ ]:
import pandas as pd
df = pd.read_csv('spam.csv')
df.head()

### DATA PREPROCESSING

In [46]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [47]:
df['spam'] = df['Category'].apply(lambda x:1 if x == 'spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

### TRAIN TEST SPLIT

In [48]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.Message,df.spam,test_size = 0.2)

### COUNT VECTORIZER

In [55]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
x_train_count = v.fit_transform(X_train.values)
x_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [56]:
X_train.head()

4502                                So wat's da decision?
5206          I will reach ur home in  &lt;#&gt;  minutes
2222    I notice you like looking in the shit mirror y...
4380                 How are you. Just checking up on you
1661           No just send to you. Bec you in temple na.
Name: Message, dtype: object

In [57]:
y_train.head()

4502    0
5206    0
2222    0
4380    0
1661    0
Name: spam, dtype: int64

In [58]:
X_test.head()

3943                  She's borderline but yeah whatever.
5545        Hi its in durban are you still on this number
979     Hey you can pay. With salary de. Only  &lt;#&g...
259     We tried to contact you re your reply to our o...
4216                           No dear i was sleeping :-P
Name: Message, dtype: object

In [59]:
y_test.head()

3943    0
5545    0
979     0
259     1
4216    0
Name: spam, dtype: int64

### MODEL BUILDING

In [61]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB()

In [64]:
X_test_count = v.transform(X_test)
model.score(X_test_count,y_test)

0.9883408071748879

In [66]:
emails = ["Nah I don't think he goes to usf, he lives around here though",
         'U dun say so early hor... U c already then say...,,,']

emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 0], dtype=int64)